<div class="keyboard">
    <div class="keyboardKeys">
        <button type="button" class="keyboardKey" id="q">q</button>
        <button type="button" class="keyboardKey">a</button>
    </div>
</div>