* {
    box-sizing: border-box;
}
body {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/e/e4/StarfieldSimulation.gif');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    margin: 0;
    padding:0;
}

body, .quote-input {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    background-color: lightgray;
    padding: 1rem;
    border-radius:.5rem;
    width: 700px;
    max-width: 90%;
    justify-content: center;
}

.timer {
    position: absolute;
    top: 2rem;
    font-size: 3rem;
    color: turquoise;
    font-weight: bold;
}

.quote-display {
    margin-bottom: 1rem;
    margin-left: calc(1rem + 2px);
    margin-right: calc(1rem + 2px);
}

.quote-input {
    background-color: transparent;
    border:2px solid gainsboro;
    outline: none;
    width: 100%;
    height: 8rem;
    margin: auto;
    resize: none;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .5rem;
}

.quote-input:focus {
    border-color: whitesmoke;
}